/** PROYECTOS REALIZADOS **/
#proyectosRealizados{
    text-align: center;
    display: grid;
}

#proyectosRealizados>h3{
    font-size: 40px;
}

#proyectosRealizados>p{
    font-size: 20px;
}

td{
    padding-bottom: 75px;
}


/** FOOTER **/

footer{
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 20px;
    background-color: #8f8d8d;
}

#logoFooter{
    float: left;
}

hr{
    margin-left: 100px;
}

.marks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dataInfo-child-footer{
    padding-left: 100px;
    display: flex;
}

.dataContact{
    color: white;
    margin-right: auto;
}

.iframe_footer_page{
    margin-top: 20px;
}

.last-child-footer p{
    color: white;
    float: left;
}

.plathaforms{
    display: flex;
    justify-content: center;
    gap: 10px;
}